#!/bin/bash

# Change partition permission
for file in /dev/block/mmcblk0 /dev/block/mmcblk0boot0 /dev/block/mmcblk0boot1 /dev/misc-sd /dev/block/platform/bootdevice/by-name/misc2; do
  chown root:system $file
  chmod 0660 $file
done

for file in /dev/block/platform/bootdevice/by-name/{boot,recovery,secro,seccfg,proinfo,nvram,para,logo,frp,md1img,md1img_a,md1img_b,md1dsp}; do
  chown root:system $file
  chmod 0640 $file
done

# OTP
chown system:system /dev/otp
chmod 0660 /dev/otp
chown root:system /dev/block/platform/bootdevice/by-name/otp
chmod 0660 /dev/block/platform/bootdevice/by-name/otp

# Connectivity
chown system:system /dev{/stpwmt,/wmtdetect,/fw_log_wmt}
chmod 0660 /dev{/stpwmt,/wmtdetect,/fw_log_wmt}

# BT
chown bluetooth:bluetooth /dev{/stpbt,/fw_log_bt}
chmod 0660 /dev{/stpbt,/fw_log_bt}

# GPS
chown gps:gps /dev{/stpgps,/gps,/fw_log_gps}
chmod 0660 /dev{/stpgps,/gps,/fw_log_gps}

# WIFI
chown wifi:wifi /dev/wmtWifi
chmod 0660 /dev/wmtWifi
chown wifi:wifi /dev/fw_log_wifi
chmod 0660 /dev/fw_log_wifi

# FMRadio
#TCD:add XLJLHLJYR-21 for dev/fm by shouhui.li 20200810 start
chown media:media /dev/fm
chmod 0666 /dev/fm
#TCD:add XLJLHLJYR-21 for dev/fm by shouhui.li 20200810 end

# NFC
chown nfc:radio /dev/st21nfc
chmod 0660 /dev/st21nfc
chown secure_element:secure_element /dev/st54spi
chmod 0660 /dev/st54spi

# MTK BTIF driver
chown system:system /dev/btif
chmod 0600 /dev/btif

# Trusty driver
chown system:system /dev/trusty-ipc-dev0
chmod 0660 /dev/trusty-ipc-dev0

# RPMB (for Trusty)
chown root:system /dev/block/mmcblk0rpmb
chmod 0660 /dev/block/mmcblk0rpmb

# TrustonicTEE driver
chown system:system /dev{/mobicore,/mobicore-user,/t-base-tui}
chmod 0600 /dev{/mobicore,/mobicore-user,/t-base-tui}

# add the read write right of ttyUSB*
for file in /dev/bus/usb/*; do
  chown root:usb $file
  chmod 0660 $file
done

for file in /dev/ttyUSB{0..4}; do
  chown radio:radio $file
  chmod 0660 $file
done

# Anyone can read the logs, but if they're not in the "logs"
# group, then they'll only see log entries for their UID.
chown root:log /dev/log/ksystem
chmod 0600 /dev/log/ksystem

for file in /dev/ccci*/*; do
  chown radio:radio $file
  chmod 0660 $file
done

for file in /dev/ttyC*/*; do
  chown radio:radio $file
  chmod 0660 $file
done

for file in /sys/kernel/ccci/{md1_postfix,md2_postfix}; do
  chown radio:radio $file
  chmod 0644 $file
done

for file in /sys/kernel/ccci/md1_postfix; do
  chmod 0644 $file
done

for file in /dev/eemcs*/*; do
  chown radio:radio $file
  chmod 0660 $file
done

for file in /dev/emd*/*; do
  chown radio:radio $file
  chmod 0660 $file
done

for file in /dev/ccci_{pcm_rx,pcm_tx,aud,raw_audio}*; do
  chown audio:audio $file
  chmod 0660 $file
done

for file in /dev/eemcs_aud*; do
  chown audio:audio $file
  chmod 0660 $file
done

for file in /dev/irtx; do
  chown system:system $file
  chmod 0660 $file
done

for file in /dev/ir-learning; do
  chown system:system $file
  chmod 0660 $
