
version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            wget https://github.com/cli/cli/releases/download/v2.40.1/gh_2.40.1_linux_amd64.deb -O gh.deb
            sudo dpkg -i gh.deb
            echo "$(echo ${GITHUB_TOKEN} | gh auth login --with-token)"
            sudo apt update && sudo apt install -y bc bison build-essential ccache git-lfs curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev python-is-python3
      - run:
          name: Set up Repo And Sync LinageOS source
          command: |
            mkdir -p ~/android/twrp
            cd ~/android/twrp
            mkdir -p ~/bin
            curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
            chmod a+x ~/bin/repo
            sudo ln -sf ~/bin/repo /usr/bin/repo
            git config --global user.name "kelexine"
            git config --global user.email "frankiekelechi@gmail.com"
            python3 ~/bin/repo init --depth=1 -u https://github.com/minimal-manifest-twrp/platform_manifest_twrp_aosp.git -b twrp-12.1
            python3 ~/bin/repo sync  --force-sync --current-branch --no-tags --no-clone-bundle --optimized-fetch --prune -j20
      - run:
          name: Clone Device Tree
          command: |
            cd ~/android/twrp
            git clone https://github.com/kelexine/twrp_device_tecno_kelly -b android-11 device/tecno/kelly
      - run:
          name: Start twrp Build
          command: |
            cd ~/android/twrp
            source build/envsetup.sh
            lunch twrp_kelly-eng
            croot
            mka bootimage -j12
            echo $CIRCLE_BUILD_NUM
      - run:
          name: Upload To GitHub
          command: |
            cd ~/android/twrp
            cd device/tecno/kelly
            gh release create $CIRCLE_BUILD_NUM --latest --notes "This build is still in testing phase, so flash at your own risk" --title "TWRP recovery Build for Tecno Spark 8C (kelly)"  ~/android/twrp/out/target/product/kelly/*.img
      - store_artifacts:
            path: |
               ~/android/twrp/out/target/product/KG5j/*.zip
               ~/android/twrp/out/target/product/KG5j/*.img
workflows:
  main:
    jobs:
      - build
